{% extends 'crm/base.html' %}
{% block title %}Mijozlar Ro'yxati{% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-4">Mijozlar Ro'yxati</h2>
    <div class="text-end mb-3">
        <a href="{% url 'add_customer' %}" class="btn btn-primary">Mijoz Qo'shish</a>
    </div>
    {% if customers %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ism</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Amallar</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr class="table-row">
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.email }}</td>
                        <td>
                            <a href="{% url 'delete_customer' customer.pk %}" class="btn btn-danger btn-sm">O'chirish</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Hozircha mijozlar yo‘q.</p>
    {% endif %}
</div>
{% endblock %}